html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}

img {
  width: 100%;
}

.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

header {
  margin-top: 5rem;
  width: 100%;
}
header .box-top {
  display: flex;
  flex-direction: column;
  align-items: center;
}
header .box-top img {
  width: 156px;
  height: 156px;
  border-radius: 60px;
}
header .box-top .name {
  font-size: 24px;
  color: #4e5150;
}
header .box-top .country {
  margin-top: -1rem;
  font-size: 14px;
  color: #a9a9a9;
}
header .box-bottom {
  display: flex;
  justify-content: center;
}
header .box-bottom .box {
  width: 100px;
  height: 67px;
  background-color: #e5e5e5;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 10px;
}
header .box-bottom .box .number {
  font-size: 18px;
  color: #4e5150;
  margin-bottom: -0.1rem;
}
header .box-bottom .box .title {
  font-size: 14px;
  color: #4e5150;
}

.gallery {
  width: 100%;
  margin-top: 3rem;
  display: grid;
  row-gap: 1rem;
  column-gap: 1.8rem;
  grid-template-columns: repeat(3, 18.8rem);
  grid-template-rows: repeat(auto-fit, repeat(3, 1fr));
  justify-content: center;
}
.gallery .image {
  border-radius: 20px;
  width: 299px;
  height: 299px;
  filter: drop-shadow(0px 4px 6px rgba(0, 0, 0, 0.15));
  animation: moveUp 0.5s forwards alternate;
}
.gallery .image1 {
  grid-row: 1;
  grid-column: 1;
}
.gallery .image2 {
  width: 629px;
  grid-column: 2;
  grid-row: 1;
}
.gallery .image3 {
  grid-row: 2;
  grid-column: 1/2;
  width: 627px;
}
.gallery .image4 {
  grid-row: 3;
  grid-column: 1;
}
.gallery .image5 {
  grid-row: 3;
  grid-column: 2;
}
.gallery .image6 {
  grid-row: 2/4;
  grid-column: 3;
  width: 297px;
  height: 610px;
}

footer {
  margin-top: 5rem;
  text-align: center;
}
footer p {
  font-size: 14px;
  color: #a9a9a9;
}
footer p a {
  color: #f7542e;
  text-decoration: none;
}
footer p a:hover {
  text-decoration: underline;
}

@media (max-width: 986px) {
  header {
    margin-top: 2.5rem;
  }
  header .box-top img {
    width: 101px;
    height: 101px;
  }
  header .box-top .name {
    font-size: 14px;
  }
  header .box-top .country {
    margin-top: -0.5rem;
    font-size: 10px;
  }
  header .box-bottom .box {
    width: 78px;
    height: 52px;
  }
  header .box-bottom .box .number {
    font-size: 12px;
  }
  header .box-bottom .box .title {
    font-size: 12px;
  }

  .gallery {
    grid-template-columns: repeat(3, 6.6rem);
    column-gap: 0.8rem;
    row-gap: 0.7rem;
    margin-top: 2rem;
  }
  .gallery .image {
    width: 109px;
    height: 109px;
  }
  .gallery .image2 {
    width: 229px;
  }
  .gallery .image3 {
    width: 229px;
  }
  .gallery .image6 {
    width: 108px;
    height: 245px;
  }
}
@keyframes moveUp {
  0% {
    opacity: 0;
    transform: translateY(25rem);
  }
  50% {
    opacity: 0;
    transform: translateY(10rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/*# sourceMappingURL=style.css.map */
