// ?Fonts
$montserrat: 'Montserrat', sans-serif;

// ?Colors
$white: #ffffff;
$title: #4e5150;
$subtitle: #a9a9a9;
$special_color: #f7542e;

// ?Screens

$deskto1: 1440px;
$deskto2: 1366px;
$deskto3: 1068px;
$mobile: 411px;
