html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    background-color: $white;
    font-family: $montserrat;
    font-weight: 600;
}

img {
    width: 100%;
}

.container {
    width: 100%;
    max-width: $deskto1;
    margin: 0 auto;
}

header {
    margin-top: 5rem;
    width: 100%;
    .box-top {
        display: flex;
        flex-direction: column;
        align-items: center;
        img {
            width: 156px;
            height: 156px;
            border-radius: 60px;
        }
        .name {
            font-size: 24px;
            color: $title;
        }
        .country {
            margin-top: -1rem;
            font-size: 14px;
            color: $subtitle;
        }
    }
    .box-bottom {
        display: flex;
        justify-content: center;
        .box {
            width: 100px;
            height: 67px;
            background-color: #e5e5e5;
            border-radius: 16px;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 10px 10px;
            .number {
                font-size: 18px;
                color: $title;
                margin-bottom: -0.1rem;
            }
            .title {
                font-size: 14px;
                color: $title;
            }
        }
    }
}

.gallery {
    width: 100%;
    margin-top: 3rem;
    display: grid;
    row-gap: 1rem;
    column-gap: 1.8rem;
    grid-template-columns: repeat(3, 18.8rem);
    grid-template-rows: repeat(auto-fit, repeat(3, 1fr));
    justify-content: center;
    .image {
        border-radius: 20px;
        width: 299px;
        height: 299px;
        filter: drop-shadow(0px 4px 6px rgba(0, 0, 0, 0.15));
        animation: moveUp 2s forwards alternate;
    }
    .image1 {
        grid-row: 1;
        grid-column: 1;
    }
    .image2 {
        width: 629px;
        grid-column: 2;
        grid-row: 1;
    }
    .image3 {
        grid-row: 2;
        grid-column: 1 / 2;
        width: 627px;
    }
    .image4 {
        grid-row: 3;
        grid-column: 1;
    }
    .image5 {
        grid-row: 3;
        grid-column: 2;
    }
    .image6 {
        grid-row: 2 / 4;
        grid-column: 3;
        width: 297px;
        height: 630px;
    }
}

footer {
    margin-top: 5rem;
    text-align: center;
    p {
        font-size: 14px;
        color: $subtitle;
        a {
            color: $special_color;
            text-decoration: none;
            &:hover {
                text-decoration: underline;
            }
        }
    }
}

@media (max-width: $mobile) {
    header {
        margin-top: 2.5rem;
        .box-top {
            img {
                width: 101px;
                height: 101px;
            }
            .name {
                font-size: 14px;
            }
            .country {
                margin-top: -0.5rem;
                font-size: 10px;
            }
        }
        .box-bottom {
            .box {
                width: 78px;
                height: 52px;
                .number {
                    font-size: 12px;
                }
                .title {
                    font-size: 12px;
                }
            }
        }
    }
    .gallery {
        grid-template-columns: repeat(3, 6.6rem);
        column-gap: 0.8rem;
        row-gap: 0.7rem;
        margin-top: 2rem;
        .image {
            width: 109px;
            height: 109px;
        }
        .image2 {
            width: 229px;
        }
        .image3 {
            width: 229px;
        }
        .image6 {
            width: 108px;
            height: 245px;
        }
    }
}
